$font-stack: Montserrat, sans-serif;
$salmon: #D56363;
$brown: #251912;
$grey: #E8E8E8;


html {
  // font-size: 2vw;
  font-family: $font-stack;
  text-align: center;
  color: $salmon;
}

body {

}

a {
  text-decoration: none;
  color: $salmon;
}

.logo {
  height: 70px;
  width: 55px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  height: 80px;
  background-color: $brown;
  a {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .link-container {
    height: 80px;
    display: flex;
    align-items: center;
    width: 30px;
    justify-content: center;
  }
  .link-container:hover {
    background-color: lighten($brown, 5);
    a {
      color: white;
    }
  }
  .nav{
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
}

main {
  max-width: 1100px;
  margin: 0 auto;
}
.hero {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 500px;
  max-width: 1500px;
  .img-container {
    align-items: flex-start;
  }
  img {
    width: 100%;
  }
  .white-text {
    position: absolute;
    top: 100px;
    height: 300px;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    p {

      // font-size: 2rem;
      font-size: 40px;
    }
    span {
      // font-size: 5rem;
      font-size: 80px;
      font-style: italic;
    }
  }
}



@media screen and (max-width: 800px){
  .hero img {
    height: 500px;
    width: auto;
  }
}

.whatisit {
  width: 90%;
  background-color: $grey;
  position: relative;
  margin: 0 auto;
  margin-top: 0px;
  height: 450px;
}

.white-card {
  position: absolute;
  width: 70%;
  background-color: white;
  padding: 20px;
  top: -25px;
  left: 0;
  right: 0;
  margin: auto;
  p:first-of-type {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}

.grey-card {
  width: 70%;
  height: 150px;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 20px;
  background-color: $grey;
  border: 5px solid white;
  p {
    font-size: 1.5rem;
  }
}

.members-say {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

.members {
  width: 90%;
  background-color: $grey;
  margin: 0 auto;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.member-box {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 140px;
  margin: 0 auto;
  background-color: white;
  img {
    height: 100px;
    border-radius: 50px;
  }
  p {
    width: 300px;
  }
}

footer {
  margin-top: 80px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 1500px;
  height: 200px;
  background-color: $brown;
  align-items: center;
  a {
    font-size: 1rem;
    padding: 10px;
  }
  .social-links {
    img {
      width: 40px;
      height: 40px;
      padding: 0px 15px;
    }
  }
}

.coffee {
  background-image: url(../assets/img/client_photos/coffeecounter.jpg);
  background-size: cover;
}

.internet {
  background-image: url(../assets/img/client_photos/internet.jpg);
  background-size: cover;
}

.printing {
  background-image: url(../assets/img/client_photos/printer.jpg);
  background-size: cover;
}

.yoga {
  background-image: url(../assets/img/client_photos/yoga.jpg);
  background-size: cover;
}

.office {
  background-image: url(../assets/img/client_photos/office.jpg);
  background-size: cover;
}

.desk {
  background-image: url(../assets/img/client_photos/deskday.jpg);
  background-size: cover;
}

.nightowl {
  background-image: url(../assets/img/client_photos/desknight.jpg);
  background-size: cover;
}

.downtown {
  padding-top: 20px;
  p {
    font-size: 2rem;
  }
  .downtown-frame {
    height: 300px;
    width: 100%;
    overflow: hidden;
  }
}

.downtown-top {
  padding-top: 120px;
}

.amen {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin: 0 auto;
    height: 100%;
  }
}
